@use "../globals.scss" as global;

.blogsPageWrapper {
  height: 100dvh;
  width: 100dvw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blogLoaderText {
  font-size: 6rem;
  color: global.$dark-disabled-color;
}

@media only screen and (min-width: 240px) and (max-width: 639px) {
  .blogLoaderText {
    font-size: 2rem;
  }
}
