@use "../../app/globals.scss" as global;

.postContent {
  max-width: 60%;
  font-size: 0.9rem;
  letter-spacing: -3%;
  line-height: 1.5rem;
  mix-blend-mode: difference;

  .paragraph {
    margin-bottom: 1rem;
  }

  [data-callout="true"] {
    color: global.$dark-text-color;
    border-radius: 8px;
    padding: 12px 15px;
    position: relative;
    padding-left: 45px; // Make room for icon
  }

  [data-callout="true"]::before {
    content: "";
    position: absolute;
    left: 12px;
    top: 12px;
    width: 20px;
    height: 20px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  [data-callout-type="note"] {
    background-color: rgba(0, 77, 202, 0.7);

    &::before {
      content: "\270E"; // or use a Unicode icon
      font-size: 1.5rem;
    }
  }

  [data-callout-type="warning"] {
    background-color: rgba(202, 17, 0, 0.7);

    &::before {
      content: "\26A0";
      font-size: 1.5rem;
    }
  }

  [data-callout-type="info"] {
    background-color: rgba(0, 202, 0, 0.7);

    &::before {
      content: "\0021";
      font-size: 1.5rem;
    }
  }

  [data-callout-type="tip"],
  [data-callout-type="attention"] {
    background-color: rgba(202, 138, 0, 0.7);

    &::before {
      content: "\26A0";
      font-size: 1.5rem;
    }
  }

  h2 {
    font-size: 2.75rem;
    line-height: 2.75rem;
  }

  h3 {
    font-size: 1.75rem;
    line-height: 1.75rem;
  }

  h4 {
    font-size: 1.45rem;
    line-height: 1.5rem;
  }

  h5 {
    font-size: 1.25rem;
    line-height: 1.25rem;
  }

  pre {
    padding: 2px 4px;
    width: 100%;
    border-radius: 4px;
    filter: invert(1);
  }

  code {
    line-height: 1.25rem;
    user-select: all;
    padding: 1px 4px;
    border-radius: 4px;
    background-color: #d8d8d8;
    color: global.$light-text-color;
  }

  a {
    color: global.$dark-disabled-color;
    text-decoration: underline;
  }

  blockquote {
    background-color: global.$dark-bg-color;
    padding: 5px 15px;
    border-left: 4px solid global.$dark-disabled-color;
    color: global.$dark-text-color;
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
  }

  img {
    width: 100%;
    border-radius: 12px;
    filter: invert(1);
  }
}

.backLink {
  width: 100%;
  margin-top: 1rem;
  padding: 1.25rem 0;
  border-top: 1px solid global.$dark-disabled-color;

  a {
    font-size: 1.25rem;
    text-decoration: none;
    color: global.$dark-disabled-color;
    text-decoration: underline;
  }

  svg {
    width: 1rem;
    height: 1rem;
  }
}

// Mobile Devices
@media only screen and (min-width: 240px) and (max-width: 639px) {
  .postContent {
    max-width: 100%;
    font-size: 0.75rem;
    line-height: 1.2rem;

    h2 {
      font-size: 2.15rem;
    }

    h3 {
      font-size: 1.5rem;
    }

    h4 {
      font-size: 1.2rem;
    }

    pre {
      padding: 1px 2px;
    }

    code {
      line-height: 1rem;
      padding: 1px 2px;
    }

    blockquote {
      font-size: 0.75rem;
      padding: 1px 10px;
    }
  }
}

// Tablet Devices
@media only screen and (min-width: 640px) and (max-width: 1023px) {
  .postContent {
    max-width: 100%;
    font-size: 0.85rem;
    line-height: 1.3rem;

    pre {
      padding: 1px 2px;
    }
  }
}
