@use "../../app/globals.scss" as global;

.heroSectionWrapper {
  display: flex;
  flex-direction: column;
  height: 100svh;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  gap: 2rem;
  color: global.$dark-text-color;

  .heroContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 75vw;
    max-width: 1200px;

    .heroTextWrapper {
      width: 60%;

      .heroText {
        color: global.$dark-text-color;
        font-size: 4.5rem;
        font-weight: 500;
        text-transform: uppercase;
        mix-blend-mode: difference;
        contain: layout style;
      }
    }

    .heroImageWrapper {
      width: 40%;
      height: 250px;
      aspect-ratio: 16/9;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 8px;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }

  .heroAboutWrapper {
    width: 75vw;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .heroAboutText {
      width: 100%;
      font-size: 1.35rem;
      mix-blend-mode: difference;
    }
  }
}

.workSectionWrapper {
  position: relative;
  width: 100vw;
  color: global.$dark-text-color;

  .workHeading {
    width: 75vw;
    max-width: 1200px;
    font-size: 5rem;
    font-weight: 500;
    text-transform: uppercase;
    mix-blend-mode: difference;
  }

  .workSubtext {
    width: 75vw;
    max-width: 1200px;
    margin: 2rem 0;
    font-size: 2.25rem;
    mix-blend-mode: difference;
  }

  .experienceWrapper {
    min-height: 100svh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    mix-blend-mode: difference;
  }

  .projectWrapper {
    min-height: 100svh;
    width: 100dvw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.contactSectionWrapper {
  height: 100svh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .contactHeading {
    display: flex;
    width: 75vw;
    max-width: 1200px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 5rem;
    font-weight: 400;
    line-height: 5.75rem;
    z-index: 1;
    mix-blend-mode: difference;

    &.contactName {
      color: global.$dark-disabled-color;
    }

    &.contactStatement {
      color: global.$dark-text-color;
    }
  }

  .introlinkContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 0.25rem;
    column-gap: 5rem;
    text-wrap: nowrap;
    width: 75vw;
    max-width: 1200px;
    font-size: 5rem;
    margin-top: 1rem;

    a {
      text-decoration: none;
      color: global.$dark-text-color;
    }
  }
}

// Mobile Devices
@media only screen and (min-width: 240px) and (max-width: 399px) {
  .heroSectionWrapper {
    gap: 1rem;

    .heroContainer {
      flex-direction: column;
      width: 90vw;
      gap: 1rem;

      .heroTextWrapper {
        width: 90vw;

        .heroText {
          font-size: 2rem;
        }
      }

      .heroImageWrapper {
        width: 90vw;
        height: 150px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }

    .heroAboutWrapper {
      width: 90vw;

      .heroAboutText {
        width: 100%;
        font-size: 0.75rem;
      }
    }
  }

  .workSectionWrapper {
    .workHeading {
      width: 90vw;
      font-size: 2rem;
    }

    .workSubtext {
      width: 90vw;
      margin: 1rem 0;
      font-size: 1.1rem;
      letter-spacing: 1px;
    }
  }

  .contactSectionWrapper {
    .contactHeading {
      width: 90vw;
      font-size: 2.5rem;
      line-height: 3.25rem;
    }

    .introlinkContainer {
      width: 90vw;
      margin-top: 0.75rem;
      font-size: 2.5rem;

      a {
        text-decoration: none;
        color: global.$dark-text-color;
      }
    }
  }
}

@media only screen and (min-width: 400px) and (max-width: 639px) {
  .heroSectionWrapper {
    gap: 1rem;

    .heroContainer {
      flex-direction: column;
      width: 90vw;
      gap: 1rem;

      .heroTextWrapper {
        width: 90vw;

        .heroText {
          font-size: 2.25rem;
        }
      }

      .heroImageWrapper {
        width: 90vw;
        height: 175px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }

    .heroAboutWrapper {
      width: 90vw;

      .heroAboutText {
        width: 100%;
        font-size: 0.875rem;
      }
    }
  }

  .workSectionWrapper {
    .workHeading {
      width: 90vw;
      font-size: 2.25rem;
    }

    .workSubtext {
      width: 90vw;
      font-size: 1.25rem;
    }
  }

  .contactSectionWrapper {
    .contactHeading {
      width: 90vw;
      font-size: 2.5rem;
      line-height: 4rem;
    }

    .introlinkContainer {
      width: 90vw;
      margin-top: 1rem;
      font-size: 2.5rem;

      a {
        text-decoration: none;
        color: global.$dark-text-color;
      }
    }
  }
}

// Tablet Devices
@media only screen and (min-width: 640px) and (max-width: 920px) {
  .heroSectionWrapper {
    padding: 0 2rem;
    gap: 1rem;

    .heroContainer {
      flex-direction: row;
      width: 90vw;
      gap: 1rem;

      .heroTextWrapper {
        width: 90vw;

        .heroText {
          font-size: 2.75rem;
        }
      }

      .heroImageWrapper {
        width: 90vw;
        height: 200px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }

    .heroAboutWrapper {
      width: 90vw;

      .heroAboutText {
        width: 100%;
        font-size: 1.25rem;
      }
    }
  }

  .workSectionWrapper {
    .workHeading {
      font-size: 2.25rem;
    }

    .workSubtext {
      padding: 0 2rem;
      margin: 2rem 0;
      font-size: 1.5rem;
      letter-spacing: 1px;
    }
  }

  .contactSectionWrapper {
    .contactHeading {
      width: 75vw;
      font-size: 2.75rem;
      line-height: 4rem;
    }

    .introlinkContainer {
      width: 75vw;
      margin-top: 1rem;
      font-size: 2.75rem;

      a {
        text-decoration: none;
        color: global.$dark-text-color;
      }
    }
  }
}

@media only screen and (min-width: 921px) and (max-width: 1024px) {
  .heroSectionWrapper {
    padding: 0 2rem;
    gap: 1rem;

    .heroContainer {
      flex-direction: row;
      width: 85vw;
      gap: 1rem;

      .heroTextWrapper {
        width: 85vw;

        .heroText {
          font-size: 3.25rem;
        }
      }

      .heroImageWrapper {
        width: 85vw;
        height: 200px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }

    .heroAboutWrapper {
      width: 85vw;

      .heroAboutText {
        width: 100%;
        font-size: 1.2rem;
      }
    }
  }

  .workSectionWrapper {
    .workHeading {
      font-size: 3.75rem;
    }

    .workSubtext {
      padding: 0 2rem;
      margin: 2rem 0;
      font-size: 2rem;
      letter-spacing: 1px;
    }
  }

  .contactSectionWrapper {
    .contactHeading {
      width: 75vw;
      font-size: 5rem;
      line-height: 7rem;
    }

    .introlinkContainer {
      width: 75vw;
      margin-top: 1rem;
      font-size: 5rem;
      line-height: 6rem;

      a {
        text-decoration: none;
        color: global.$dark-text-color;
      }
    }
  }
}

// Large Devices
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
  .heroSectionWrapper {
    gap: 2rem;

    .heroContainer {
      gap: 2rem;

      .heroTextWrapper {
        width: 50%;

        .heroText {
          font-size: 3.5rem;
        }
      }

      .heroImageWrapper {
        height: 200px;
      }
    }

    .heroAboutWrapper {
      .heroAboutText {
        font-size: 1.1rem;
      }
    }
  }

  .workSectionWrapper {
    .workHeading {
      font-size: 4rem;
    }

    .workSubtext {
      font-size: 1.75rem;
    }
  }

  .contactSectionWrapper {
    .contactHeading {
      font-size: 5rem;
      line-height: 6rem;
    }

    .introlinkContainer {
      font-size: 5rem;
      line-height: 6rem;
    }
  }
}
