@use "../../app/globals.scss" as global;

.textZoopContainer {
  position: relative;
  display: block;
  overflow: hidden;
  line-height: 1.1;
}

.textZoopLetter {
  display: inline-block;
}

.textZoopHiddenWrapper {
  position: absolute;
  inset: 0;
}

.textRippleWrapper {
  height: 25vh;
  width: 100%;
}

.textStaggerWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;

  .staggerWordContainer {
    overflow: hidden;

    .staggerWord {
      display: flex;
    }
  }
}

.textRevealWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 4rem;
  font-weight: 500;
  color: global.$dark-text-color;

  .textRevealContainer {
    height: 35%;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .wordContainer {
      margin: 0;
      margin-right: 0.75rem;
      // filter: invert(100%);
    }

    .letterContainer {
      display: inline-block;
    }
  }
}

.textDisperseContainer {
  color: global.$dark-disabled-color;
  margin: 0px;
  transition: color 0.4s ease-out;
  cursor: pointer;

  &:hover {
    color: global.$dark-text-color;
  }

  span {
    display: inline-block;
  }
}

.textExpandWrapper {
  position: sticky;
  top: 0;
  height: 100dvh;
  width: 100%;
  color: global.$dark-disabled-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  overflow-x: hidden;
  opacity: 0.25;
  z-index: -5;

  .replLetterGroup {
    height: 10rem;
    font-size: 8rem;
    font-weight: 500;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

    .replLetter {
      aspect-ratio: 1;
    }
  }
}

@media only screen and (min-width: 240px) and (max-width: 639px) {
  .textStaggerWrapper {
    gap: 0.5rem;
  }

  .textRevealWrapper {
    font-size: 1.75rem;

    .textRevealContainer {
      width: 90vw;

      p {
        margin-right: 0.5rem;
      }
    }
  }

  .textExpandWrapper {
    .replLetterGroup {
      font-size: 6rem;
      height: 7rem;
    }
  }
}

@media only screen and (min-width: 640px) and (max-width: 920px) {
  .textRevealWrapper {
    font-size: 2.5rem;

    .textRevealContainer {
      width: 90vw;

      p {
        margin-right: 0.75rem;
      }
    }
  }
}

@media only screen and (min-width: 921px) and (max-width: 1024px) {}

@media only screen and (min-width: 1025px) and (max-width: 1280px) {}