@use "../../globals.scss" as global;

.blogsPageWrapper {
	height: 100dvh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.postContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 5rem;
	color: global.$dark-text-color;
}

.postHeader {
	width: 75%;
	display: flex;
	justify-content: space-between;
	align-items: center;

	.postMetadataWrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-end;
	}

	.postDate {
		color: global.$dark-disabled-color;
	}

	.postTitle {
		color: global.$dark-text-color;
		font-size: 4rem;
		mix-blend-mode: difference;
	}

	.tagContainer {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		gap: 1rem;

		.tag {
			color: global.$pale-orange-color;
		}
	}
}

// Mobile Devices
@media only screen and (min-width: 240px) and (max-width: 639px) {
	.postContainer {
		padding: 4rem 1rem 4rem 1rem;
		align-items: center;

		.backLink {
			padding: 1rem 0;

			a {
				font-size: 1rem;

				svg {
					width: 0.75rem;
					height: 0.75rem;
				}
			}
		}
	}

	.postHeader {
		width: 100%;
		max-width: 100%;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;

		.postMetadataWrapper {
			align-items: flex-start;
		}

		.postTitle {
			font-size: 2.5rem;
		}

		.tagContainer {
			font-size: 0.85rem;
		}
	}
}

// Tablet Devices
@media only screen and (min-width: 640px) and (max-width: 1023px) {
	.postContainer {
		padding: 2rem 2rem 4rem 2rem;
		align-items: center;
	}
}