@use "../../globals.scss" as global;

.postContainer {
	padding: 5rem;
}

.postHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;

	.postMetadataWrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-end;
	}

	.postDate {
		color: global.$dark-disabled-color;
	}

	.postTitle {
		color: global.$dark-text-color;
		font-size: 4rem;
	}

	.tagContainer {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		gap: 1rem;

		.tag {
			color: global.$pale-orange-color;
		}
	}
}

.postContent {
	pre {
		padding: 2px 4px;
		filter: invert(1);
		width: fit-content;
		border-radius: 4px;
		cursor: text;
	}

	code {
		user-select: all;
		padding: 1px 4px;
		border-radius: 4px;
		background-color: #d8d8d8;
		color: global.$light-text-color;
	}

	a {
		color: global.$pale-orange-color;
	}
}
