@use "../../globals.scss" as global;

.blogsPageWrapper {
	height: 100dvh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.postContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding: 5rem;

	.backLink {
		width: 100%;
		margin-top: 1rem;
		padding: 1.25rem 0;
		border-top: 1px solid global.$dark-disabled-color;

		a {
			font-size: 1.25rem;
			text-decoration: none;
			color: global.$pale-orange-color;
		}

		svg {
			width: 1rem;
			height: 1rem;
		}
	}
}

.postHeader {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;

	.postMetadataWrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-end;
	}

	.postDate {
		color: global.$dark-disabled-color;
	}

	.postTitle {
		color: global.$dark-text-color;
		font-size: 4rem;
	}

	.tagContainer {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		gap: 1rem;

		.tag {
			color: global.$pale-orange-color;
		}
	}
}

.postContent {
	max-width: 65%;
	font-size: 1rem;
	line-height: 1.5rem;

	pre {
		padding: 2px 4px;
		filter: invert(1);
		width: 100%;
		border-radius: 4px;
	}

	code {
		font-size: 0.875rem;
		line-height: 1.25rem;
		user-select: all;
		padding: 1px 4px;
		border-radius: 4px;
		background-color: #d8d8d8;
		color: global.$light-text-color;
	}

	a {
		color: global.$pale-orange-color;
	}

	blockquote {
		background-color: global.$pale-orange-color;
		padding: 5px 15px;
		border-radius: 12px;
		color: global.$light-text-color;
		font-size: 1.1rem;
		font-weight: 500;
	}

	img {
		width: 100%;
		border-radius: 12px;
		filter: invert(1);
	}

	.katex-html {
		display: none;
	}
}

// Mobile Devices
@media only screen and (min-width: 240px) and (max-width: 639px) {
	.postContainer {
		padding: 2rem 1rem 4rem 1rem;
		align-items: center;

		.backLink {
			padding: 1rem 0;

			a {
				font-size: 1rem;

				svg {
					width: 0.75rem;
					height: 0.75rem;
				}
			}
		}
	}

	.postHeader {
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;

		.postMetadataWrapper {
			align-items: flex-start;
		}

		.postTitle {
			font-size: 2.5rem;
		}

		.tagContainer {
			font-size: 0.85rem;
		}
	}

	.postContent {
		max-width: 100%;
		font-size: 0.75rem;
		line-height: 1.2rem;

		pre {
			padding: 1px 2px;
		}

		code {
			font-size: 0.65rem;
			line-height: 1rem;
			padding: 1px 2px;
		}

		a {
			text-decoration: none;
			color: global.$pale-orange-color;
		}

		blockquote {
			font-size: 0.75rem;
			padding: 1px 10px;
		}
	}
}

// Tablet Devices
@media only screen and (min-width: 640px) and (max-width: 1023px) {
	.postContainer {
		padding: 2rem 2rem 4rem 2rem;
		align-items: center;
	}

	.postContent {
		max-width: 100%;
		font-size: 0.85rem;
		line-height: 1.3rem;

		pre {
			padding: 1px 2px;
		}
	}
}