$light-text-color: #0c0c0c;
$dark-text-color: #ededed;

$light-disabled-color: #b5b5b5;
$dark-disabled-color: #414141;

$pale-orange-color: #f05443;

$light-bg-color: #ededed;
$dark-bg-color: #0c0c0c;

.app {
  height: 100vh;
  width: 100vw;
  background: none;
  overflow-x: hidden;
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  text-size-adjust: 100%;

  -webkit-user-drag: none;

  -webkit-touch-callout: none; /* Safari */
  -webkit-user-select: none; /* Chrome */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;

  overscroll-behavior-block: contain;

  &::-webkit-scrollbar {
    display: none;
  }

  a {
    text-decoration: none;

    -webkit-user-drag: none;

    -webkit-touch-callout: none; /* Safari */
    -webkit-user-select: none; /* Chrome */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
  }
}

#sanity {
  width: 100%;
}
