@use "./globals.scss" as global;

.homePageWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heroSectionWrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.aboutSectionWrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-items: center;
  align-items: center;
}

.contactSectionWrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .introline {
    display: flex;
    width: 75vw;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 6rem;
    font-weight: 400;
    line-height: 8rem;

    .introHeading {
      margin: 0px;
      line-height: 6rem;
      color: global.$dark-text-color;
    }
  }
}

.workSectionWrapper {
  position: relative;
  height: 500vh;
  width: 100vw;
}

// Mobile Devices
@media only screen and (min-width: 240px) and (max-width: 639px) {
  .contactSectionWrapper {
    .introline {
      align-items: flex-start;
      width: 90vw;
      font-size: 4rem;
      line-height: 4rem;

      .introHeading {
        line-height: 4rem;
      }
    }
  }
}

// Tablet Devices
@media only screen and (min-width: 640px) and (max-width: 920px) {
  .contactSectionWrapper {
    .introline {
      width: 90vw;
      font-size: 5rem;
      line-height: 5rem;
    }
  }
}

@media only screen and (min-width: 921px) and (max-width: 1024px) {
  .contactSectionWrapper {
    .introline {
      width: 90vw;
      font-size: 6rem;
      line-height: 6rem;
    }
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1280px) {
  .contactSectionWrapper {
    .introline {
      width: 90vw;
    }
  }
}
