.homePageWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.heroSectionWrapper,
.aboutSectionWrapper,
.statementSectionWrapper,
.contactSectionWrapper {
  display: flex;
  height: 100%;
  width: 100%;
  justify-items: center;
  align-items: center;
}
