@use "./globals.scss" as global;

.homePageWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heroSectionWrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.aboutSectionWrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-items: center;
  align-items: center;
}

.contactSectionWrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .introline {
    display: flex;
    width: 75vw;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 6rem;
    font-weight: 400;
    line-height: 8rem;

    .introHeading {
      margin: 0px;
      line-height: 7rem;
      color: global.$dark-text-color;
    }
  }
}

.workSectionWrapper {
  position: relative;
  height: 500vh;
  width: 100vw;
  color: global.$dark-text-color;

  .experienceWrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    .experienceMainText {
      width: 90%;
      font-size: 3rem;
    }

    .experienceTableWrapper {
      width: 100%;

      .experienceRowContainer {
        position: relative;

        .experienceRow {
          position: relative;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          padding: 0.75rem 2rem;
          border-bottom: 2px solid global.$dark-disabled-color;
        }

        .experienceMaskRow {
          top: 0;
          left: 0;
          right: 0;
          position: absolute;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0.75rem 2rem;
          clip-path: inset(0% 0 0% 0);
          background-color: global.$dark-text-color;
        }


        .experienceName {
          font-size: 2rem;
          color: global.$light-text-color;
        }

        .experienceRole,
        .experienceDuration {
          font-size: 1.5rem;
          color: global.$dark-disabled-color;
        }


      }
    }
  }

  .projectWrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    .projectTitle {
      width: 90%;
      font-size: 10rem;
    }
  }

  .toolsWrapper {
    height: 100vh;
    width: 100%;

    .toolsHeading {
      font-size: 6rem;
    }

    .toolContainer {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      .toolName {
        font-size: 3rem;
      }
    }
  }
}

// Mobile Devices
@media only screen and (min-width: 240px) and (max-width: 639px) {
  .contactSectionWrapper {
    .introline {
      align-items: flex-start;
      width: 90vw;
      font-size: 4rem;
      line-height: 4rem;

      .introHeading {
        line-height: 4rem;
      }
    }
  }

  .workSectionWrapper {
    .experienceWrapper {
      font-size: 1.75rem;
    }
  }
}

// Tablet Devices
@media only screen and (min-width: 640px) and (max-width: 920px) {
  .contactSectionWrapper {
    .introline {
      width: 90vw;
      font-size: 5rem;
      line-height: 5rem;
    }
  }

  .workSectionWrapper {
    .experienceWrapper {
      font-size: 2.5rem;
    }
  }
}

@media only screen and (min-width: 921px) and (max-width: 1024px) {
  .contactSectionWrapper {
    .introline {
      width: 90vw;
      font-size: 6rem;
      line-height: 6rem;
    }
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1280px) {
  .contactSectionWrapper {
    .introline {
      width: 90vw;
    }
  }
}
