@use "../../app/globals.scss" as global;

.headerWrapper {
	height: 4rem;
	position: fixed;
	top: 0;
	box-sizing: border-box;
	width: 100vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.2rem 2rem;
	z-index: 999;
	transform: translate3d(0, 0, 0);
	mix-blend-mode: difference;
	backdrop-filter: blur(8px);
	mask: linear-gradient(to bottom, black 82%, transparent 100%);
}

.hideHeader {
	display: none;
	pointer-events: none;
}

.nameContainer {
	display: flex;
	transition: color ease-in 0.2s;
	color: global.$dark-text-color;
	font-size: 1.2rem;
	font-weight: 500;
	text-transform: lowercase;
	mix-blend-mode: difference;

	.heroNameSeparator {
		height: 20px;
		width: 20px;
		position: relative;
		top: 3px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1rem;

		a {
			color: global.$dark-text-color;
			text-decoration: none;
		}
	}
}

.linksContainer {
	position: absolute;
	left: 50%;
	width: fit-content;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5rem;
	font-size: 1.1rem;
	text-transform: lowercase;

	.headerLink {
		position: relative;
		left: -50%;

		a {
			display: flex;
			justify-content: center;
			align-items: center;
			transition: color ease-in 0.2s;
			text-decoration: none;
		}

		&.activeLink a {
			color: global.$dark-text-color;
			font-weight: 500;
		}

		&.inactiveLink a {
			color: global.$dark-disabled-color;
			font-weight: 400;
		}
	}
}

.themeSwitchContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 25px;
	width: 25px;
	z-index: 99999;
	cursor: pointer;

	div {
		height: 100%;
		width: 100%;
	}
}

// Mobile Devives
@media only screen and (min-width: 250px) and (max-width: 639px) {
	.headerWrapper {
		padding: 0.5rem;
	}

	.nameContainer {
		display: none;
	}

	.linksContainer {
		position: relative;
		left: 1rem;
		transform: translateX(50%);
		gap: 0.75rem;
		font-size: 0.875rem;
	}
}

// Tablet Devices
@media only screen and (min-width: 640px) and (max-width: 920px) {
	.linksContainer {
		position: relative;
		left: 1rem;
		gap: 1rem;
	}
}