@use "../../app/globals.scss" as global;

.tagsWrapper {
  width: 100vw;
  display: flex;
  gap: 0.4rem;
  margin: 0.5rem 0 1rem 4rem;
  justify-content: flex-start;
  align-items: flex-start;
  mix-blend-mode: difference;

  .tagsList {
    height: 3.5rem;
    width: 100%;
    display: flex;
    gap: 0.4rem;
    overflow-x: scroll;
  }

  .tagItem {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    outline: none;
    font-size: 1.75rem;
    height: 2.5rem;
    color: global.$dark-disabled-color;
    border: 2px solid global.$dark-disabled-color;
    border-radius: 2px;
    padding: 4px 12px;
    cursor: pointer;
    word-break: keep-all;
    text-wrap: nowrap;

    &.activeTag {
      &.light {
        border-color: global.$pale-blue-color;
        color: global.$pale-blue-color;
      }

      &.dark {
        border-color: global.$pale-orange-color;
        color: global.$pale-orange-color;
      }
    }

    &:hover {
      &.light {
        border-color: global.$pale-blue-color;
        color: global.$pale-blue-color;
      }

      &.dark {
        border-color: global.$pale-orange-color;
        color: global.$pale-orange-color;
      }
    }
  }

  .tagClearButton {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    outline: none;
    font-size: 1.75rem;
    height: 2.5rem;
    color: global.$dark-text-color;
    border: 2px solid global.$dark-text-color;
    border-radius: 2px;
    padding: 4px 12px;
    cursor: pointer;

    svg {
      width: 1.5rem;
      height: 1.5rem;
    }

    &:hover {
      &.light {
        border-color: global.$pale-blue-color;
        color: global.$pale-blue-color;
      }

      &.dark {
        border-color: global.$pale-orange-color;
        color: global.$pale-orange-color;
      }
    }
  }
}

// Mobile Devices
@media only screen and (min-width: 240px) and (max-width: 639px) {
  .tagsWrapper {
    width: 90%;
    margin-left: 0;
    font-size: 1rem;
    gap: 0.25rem;

    .tagsList {
      height: 2rem;
    }

    .tagItem {
      height: 1.75rem;
      font-size: 1rem;
      padding: 2px 8px;
    }

    .tagClearButton {
      height: 1.75rem;
      font-size: 1rem;
      padding: 2px 8px;

      svg {
        width: 1rem;
        height: 1rem;
      }
    }
  }
}
