@use "../../app/globals.scss" as global;

.footerWrapper {
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  mix-blend-mode: difference;
  filter: invert(100%);
  opacity: 0.2;
}

.footerContainer {
  position: relative;
  padding: 1.2rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 400;
  color: global.$light-text-color;
}

@media only screen and (min-width: 250px) and (max-width: 639px) {
  .footerContainer {
    font-size: 1rem;
  }
}