@use "../../app/globals.scss" as global;

.footerWrapper {
  width: 100%;
  position: fixed;
  bottom: 0;
  padding: 1.2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-size: 1.2rem;
  font-weight: 400;
  color: global.$light-text-color;
  mix-blend-mode: difference;
  filter: invert(100%);
  opacity: 0.2;
}
