@use "../globals.scss" as global;

.blogMessageWrapper {
	height: 100dvh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.blogsPageWrapper {
	height: 100dvh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	// padding: 0 2rem;
}

.postsWrapper {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.pageTitle {
	width: 100%;
	display: flex;
	color: global.$dark-text-color;
	font-size: 6rem;
	margin-top: 4rem;
	margin-bottom: 1rem;
	margin-left: 4rem;
}

.postsGrid {
	height: 100%;
	width: 100%;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	.postCard {
		position: relative;
		width: 100%;
		// padding: 0.75rem 0.25rem;
		// border-bottom: 1px solid global.$dark-disabled-color;
	}

	.postLink {
		width: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}

	.postMetadataContainer {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-end;
		opacity: 0.65;
	}

	.postDate {
		font-size: 1.25rem;
		color: global.$pale-orange-color;
	}

	.postTitle {
		font-size: 2rem;
		color: global.$dark-text-color;
	}

	.tagContainer {
		font-size: 0.85rem;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		gap: 1rem;
		color: global.$pale-orange-color;
	}
}

// Mobile Devices
@media only screen and (min-width: 240px) and (max-width: 639px) {
	.blogsPageWrapper {
		padding: 1rem 1.5rem;
	}

	.pageTitle {
		margin-top: 2.5rem;
		font-size: 2.5rem;
		justify-content: flex-start;
	}

	.postsGrid {
		width: calc(100% - 1rem);
		padding: 0;

		.postCard {
			padding: 0.5rem 0;
		}

		.postTitle {
			width: 45%;
			font-size: 1.2rem;
		}

		.postDate {
			font-size: 0.75rem;
		}

		.tagContainer {
			font-size: 0.75rem;
		}
	}
}