@use "../../app/globals.scss" as global;

.textZoopContainer {
  position: relative;
  display: block;
  overflow: hidden;
  line-height: 1.1;
}

.textZoopLetter {
  display: inline-block;
}

.textZoopHiddenWrapper {
  position: absolute;
  inset: 0;
}

.textRippleWrapper {
  height: 25vh;
  width: 100%;
}

.textStaggerWrapper-letter {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  .textStaggerContainer {
    overflow: hidden;

    .staggerContent {
      overflow: hidden;
    }
  }
}

.textStaggerWrapper-word {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 2rem;

  .textStaggerContainer {
    overflow: hidden;

    .staggerContent {
      overflow: hidden;
    }
  }
}

.textStaggerWrapper-line {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  .textStaggerContainer {
    overflow: hidden;
    width: 100%;

    .staggerContent {
      overflow: hidden;


      .staggerItem {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}

.textRevealWrapper {
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: global.$dark-text-color;

  .textRevealContainer {
    width: 100%;
    padding: 0 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;

    .wordWrapper {
      margin-right: 0.75rem;
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;

      .wordContainer {
        transition: 0.4s cubic-bezier(0.4, 0, 0.2, 1);
      }
    }
  }
}

.textDisperseContainer {
  color: global.$dark-disabled-color;
  margin: 0px;
  transition: color 0.4s ease-out;

  &.light:hover {
    color: global.$pale-blue-color;
  }

  &.dark:hover {
    color: global.$pale-orange-color;
  }

  span {
    display: inline-block;
  }
}

@media only screen and (min-width: 240px) and (max-width: 399px) {
  .textStaggerWrapper-word {
    column-gap: 1rem;
  }

  .textRevealWrapper {
    .textRevealContainer {
      width: 90vw;

      .wordWrapper {
        .shadowWordContainer {
          height: 1rem;
        }
      }
    }
  }
}

@media only screen and (min-width: 400px) and (max-width: 639px) {
  .textStaggerWrapper {
    gap: 0.5rem;
  }

  .textRevealWrapper {
    .textRevealContainer {
      width: 90vw;

      .wordWrapper {
        .shadowWordContainer {
          height: 1.25rem;
        }
      }
    }
  }
}

@media only screen and (min-width: 640px) and (max-width: 920px) {
  .textRevealWrapper {
    .textRevealContainer {
      width: 90vw;

      .wordWrapper {
        .shadowWordContainer {
          height: 1.75rem;
        }
      }
    }
  }
}

@media only screen and (min-width: 921px) and (max-width: 1024px) {}

@media only screen and (min-width: 1025px) and (max-width: 1280px) {}